* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    gap: 6rem;
}
.nav h2{
  color: #fff;
  background-color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1rem;
    box-shadow: 0 0 5px #fff;
}
.nav h2:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #fff;
    color: #fff;
    background-color: #000;
}
.nav h2:active{
    box-shadow: 0 0 20px #fe0404;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.cointener{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 500;
}
button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 0 5px #fff;
}
button:hover{
    background-color: #000;
    color: #fff;
  box-shadow: 0 0 15px #fff;

}
button:active{
    box-shadow: 0 0 20px #fe0404;
}
/* Path: heroes\src\index.css */
.all{
  height: 100vh;
}